/*** it's the style of the road ***/

#centeroverlay{
	position: fixed;
	border: 1px solid #f00;
	width: 50%;
	height: 100%;
	z-index: 99;
	box-sizing: border-box;
	display: none;
}

html, body{
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #1f1f1f;
	color: #fff;
}
.mainpart{
	position: relative;
	background: #1f1f1f;
	border-bottom: 1px solid #3027240;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.main-intro-table{
	display: table;
}
.main-intro p{
	text-indent: 50px;
}
.maintext{
	font-size: 13.5pt;
	font-family: "Lora Thin";
	color: rgb(190, 190, 190);
	margin: auto auto;
	width: 800px;
	letter-spacing: 0px;
	line-height: 1.2;
	text-align: justify;
	padding-left: 70px;
	padding-right: 70px;
	
}
.maintext-table{
	display: table;
}
.maintext p{
	text-indent: 50px;
}
.chapters{
	position: relative;
	background: #1f1f1f;
	border-bottom: 1px solid #3027240;
	height: 100%;
	min-height: 1000px;
	width: 100%;
	box-sizing: border-box;
	
}
.conclusion{
	position: relative;
	background: #1f1f1f;
	border-bottom: 1px solid #3027240;
	height: 100%;
	min-height: 1200px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 700px;
}
.verticalcenter{
	display: table-cell;
	vertical-align: middle;
}
.scrollarea{
	height: 5000px;
	background-size: cover;
	background-position: center center;

}
.crop-picture{
	height: 100%;
	margin: 0px auto 0px;
	width: 1000px;
	background-size: cover;
	background-position: center center;
	
}
.gotonextzone{
	text-align: center;
	width: 100%;
	padding: 30px 0px;
	bottom: 0px;
	box-sizing: border-box;
	overflow: hidden;
}
.gotonextzone2{
	text-align: center;
	width: 100%;
	padding: 60px 0px;
	bottom: 0px;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 5;
}
.gotonextzone3{
	text-align: center;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 99;
	bottom: 50%;
}
.gotonextzone5{
	text-align: center;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 99;
	bottom: 50%;
	
}
.gotonext1{
	opacity: 0.9;
	color: rgb(255, 255, 255);
	font-size: 14pt;
	font-family: "Caracteres L1";
	text-align: center;
	width: 250px;
	margin: 0px auto 0px;
	cursor: pointer;
	bottom: 0px;
	box-sizing: border-box;
	text-shadow: 0 0 0.4em rgb(255, 0, 0);
	text-decoration: underline;

}
.gotonext2{
	opacity: 0.5;
	color: rgb(255, 255, 255);
	font-size: 14pt;
	font-family: "Caracteres L1";
	text-align: center;
	width: 250px;
	margin: 0px auto 0px;
	cursor: pointer;
	bottom: 0px;
	box-sizing: border-box;
	text-shadow: 0 0 0.3em rgb(255, 255, 255);
}
.gotonext{
	opacity: 0.5;
	color: rgb(255, 255, 255);
	font-size: 14pt;
	font-family: "Caracteres L1";
	text-align: center;
	width: 250px;
	margin: 0px auto 0px;
	cursor: pointer;
	bottom: 0px;
	box-sizing: border-box;
	text-shadow: 0 0 0.3em rgb(255, 255, 255);

}
.background-image{
	height: 1200px;
	margin: 0px auto 0px;
	background-position: center center;
}
.player-zone{
	height: 100%;
	margin: 0px auto 0px;
	width: 2000px;
}
.scrollarea img{
	max-height: 700px;
}
.title{
	font-family: "Caracteres L4";
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 50pt;
	letter-spacing: 3px;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 35px;
	bottom: 0px;
	text-shadow: 0 0 0.2em rgb(207, 207, 207);
}
.subtitle{
	font-family: "Caracteres L1";
	color: rgb(255, 255, 255);
	font-size: 24pt;
	letter-spacing: 3px;
	margin-top: 150px;
	margin-bottom: 60px;
	text-shadow: 1px 1px 10px rgb(223, 223, 223);
	text-align: center;
}
.menu{
	opacity: 50;
	position: fixed;
	top: 50px;
	left: 50px;
	box-sizing: border-box;
	z-index: 99;

}
.info-button{
	position: absolute;
	top: 0px;
	left: 7px;
	width: 50px;
	height: 50px;
	z-index: 2;
	text-align: center;
}
.dropdown {
	position: absolute;
	display: none;
	top: -20px;
	left: -9px;
	box-sizing: border-box;
	z-index: 1;
}
.panneau{
	background-color: #fff;
	padding: 4px 4px 4px 4px;
	width: 250	0px;
	height: 191px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgb(223, 223, 223);
}
.panneau-info{
	width: 70px;
	height: 70px;
	margin-top: -67px;
	margin-left: 5px;
}
.panneau-sup{
	background-color: rgb(255, 255, 255);
	border: 4px solid rgb(4, 0, 255);
	border-radius: 10px;
	width: 250px;
	height: 70px;
	border-radius: 10px;
}
.panneau-inf{
	background-color: rgb(255, 255, 255);
	border: 4px solid rgb(4, 0, 255);
	border-radius: 10px;
	margin-top: -4px;
	width: 250px;
	height: 109px;
}
.panneau-title{
	font-family: "Caracteres L4";
	text-align: center;
	color: black;
	font-size: 16pt;
	letter-spacing: 1px;
	width: 100%;
	line-height: 0.2;
	margin-left: 30px;
	margin-top: 0px;
	z-index: 2;
}
.panneau-subtitle{
	font-family: "Caracteres L4";
	text-align: left;
	color: black;
	font-size: 16pt;
	letter-spacing: 2px;
	width: 100%;
	line-height: 0.7;
	margin-left: 8px;
	margin-top: 10px;

}
.menu:hover .dropdown{
	display: block;
}
.menu:hover .info-button{
	display: none;
}
.dropdown:hover.dropdown-content {
    display: block;
}
a:link {
    color: rgb(0, 0, 0); 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 17, 255);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
	text-decoration: none;
}
.credits{
    font-family: "Lora Thin";
    color: rgb(155, 155, 155);
    font-size: 12pt;
	letter-spacing: 3px;
	padding-bottom: 20px;
	text-align: center;
}